body {
  background: #ddd;
}

a {
  text-decoration: none !important;
}

label {
  color: rgba(120, 144, 156, 1) !important;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none !important;
  box-shadow: 0 0px 0px rgba(120, 144, 156, 1) inset,
    0 0 0px rgba(120, 144, 156, 0.8);
}

.card::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background: rgba(96, 125, 139, 0.99);
}

.balon1,
.balon2 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.balon1 a {
  background: #ff7824;
  color: #000 !important;
  border-radius: 20px 20px 3px 20px;
  display: block;
  max-width: 75%;
  padding: 7px 13px 7px 13px;
}

.balon1:before {
  content: attr(data-is);
  position: absolute;
  right: 15px;
  bottom: -0.8em;
  display: block;
  font-size: 0.75rem;
  color: rgba(84, 110, 122, 1);
}

.balon2 a {
  background: #f1f1f1;
  color: #000 !important;
  border-radius: 20px 20px 20px 3px;
  display: block;
  max-width: 75%;
  padding: 7px 13px 7px 13px;
}

.balon2:before {
  content: attr(data-is);
  position: absolute;
  left: 13px;
  bottom: -0.8em;
  display: block;
  font-size: 0.75rem;
  color: rgba(84, 110, 122, 1);
}

.bg-sohbet:before {
}

.text-container > div:last-child {
  background-color: "pink";
  scroll-snap-align: end;
}
